In [ ]:
! git clone https://github.com/bazuayelewis/travel-agency-hackathon.git

Cloning into 'travel-agency-hackathon'...
remote: Enumerating objects: 28, done.
remote: Counting objects: 100% (28/28), done.
remote: Compressing objects: 100% (21/21), done.
remote: Total 28 (delta 6), reused 19 (delta 4), pack-reused 0
Receiving objects: 100% (28/28), 7.12 KiB | 7.12 MiB/s, done.
Resolving deltas: 100% (6/6), done.

In [ ]:
!ls

sample_data  travel-agency-hackathon

In [ ]:
cd travel-agency-hackathon/

/content/travel-agency-hackathon

In [ ]:
!ls

LICENSE  main.py  README.md  requirements.txt  utils

In [ ]:
!python main.py

250
      Country name Independence  United Nation members  ...      Area Population      Continent
0    South Georgia        False                  False  ...    3903.0         30     Antarctica
1          Grenada         True                   True  ...     344.0     112519  North America
2      Switzerland         True                   True  ...   41284.0    8654622         Europe
3     Sierra Leone         True                   True  ...   71740.0    7976985         Africa
4          Hungary         True                   True  ...   93028.0    9749763         Europe
..             ...          ...                    ...  ...       ...        ...            ...
245        Belgium         True                   True  ...   30528.0   11555997         Europe
246         Israel         True                   True  ...   20770.0    9216900           Asia
247    New Zealand         True                   True  ...  270467.0    5084300        Oceania
248      Nicaragua         True                   True  ...  130373.0    6624554  North America
249       Anguilla        False                  False  ...      91.0      13452  North America

[250 rows x 16 columns]

In [ ]:
cat main.py

from utils.config import BASE_URL, ENDPOINT
from utils.api_manager import get_data
from utils.data_extractor import extract_countries_data

def main():
    url = f"{BASE_URL}/{ENDPOINT}"
    countries_data = get_data(url)

    extracted_data = extract_countries_data(countries_data)

    return extracted_data

if __name__ == "__main__":
    extracted_data = main()
    print(len(extracted_data))
    print(extracted_data)

In [ ]:
from utils.config import BASE_URL, ENDPOINT
from utils.api_manager import get_data
from utils.data_extractor import extract_countries_data

def main():
    url = f"{BASE_URL}/{ENDPOINT}"
    countries_data = get_data(url)

    extracted_data = extract_countries_data(countries_data)

    return extracted_data

if __name__ == "__main__":
    extracted_data = main()
    print(len(extracted_data))
    print(extracted_data)

250
      Country name Independence  United Nation members startOfWeek  \
0    South Georgia        False                  False      monday
1          Grenada         True                   True      monday
2      Switzerland         True                   True      monday
3     Sierra Leone         True                   True      monday
4          Hungary         True                   True      monday
..             ...          ...                    ...         ...
245        Belgium         True                   True      monday
246         Israel         True                   True      sunday
247    New Zealand         True                   True      monday
248      Nicaragua         True                   True      monday
249       Anguilla        False                  False      monday

                            Official country name Common native name  \
0    South Georgia and the South Sandwich Islands               None
1                                         Grenada               None
2                             Swiss Confederation               None
3                        Republic of Sierra Leone               None
4                                         Hungary               None
..                                            ...                ...
245                            Kingdom of Belgium               None
246                               State of Israel               None
247                                   New Zealand               None
248                         Republic of Nicaragua               None
249                                      Anguilla               None

    Currency code             Currency name Currency symbol  \
0             SHP        Saint Helena pound               £
1             XCD  Eastern Caribbean dollar               $
2             CHF               Swiss franc             Fr.
3             SLL      Sierra Leonean leone              Le
4             HUF          Hungarian forint              Ft
..            ...                       ...             ...
245           EUR                      Euro               €
246           ILS        Israeli new shekel               ₪
247           NZD        New Zealand dollar               $
248           NIO        Nicaraguan córdoba              C$
249           XCD  Eastern Caribbean dollar               $

               Capital     Region                 Sub region  \
0    King Edward Point  Antarctic                       None
1         St. George's   Americas                  Caribbean
2                 Bern     Europe             Western Europe
3             Freetown     Africa             Western Africa
4             Budapest     Europe             Central Europe
..                 ...        ...                        ...
245           Brussels     Europe             Western Europe
246          Jerusalem       Asia               Western Asia
247         Wellington    Oceania  Australia and New Zealand
248            Managua   Americas            Central America
249         The Valley   Americas                  Caribbean

                                     Languages      Area  Population  \
0                                      English    3903.0          30
1                                      English     344.0      112519
2       French, Swiss German, Italian, Romansh   41284.0     8654622
3                                      English   71740.0     7976985
4                                    Hungarian   93028.0     9749763
..                                         ...       ...         ...
245                      German, French, Dutch   30528.0    11555997
246                             Arabic, Hebrew   20770.0     9216900
247  English, Māori, New Zealand Sign Language  270467.0     5084300
248                                    Spanish  130373.0     6624554
249                                    English      91.0       13452

         Continent
0       Antarctica
1    North America
2           Europe
3           Africa
4           Europe
..             ...
245         Europe
246           Asia
247        Oceania
248  North America
249  North America

[250 rows x 16 columns]

In [ ]:
import pandas as pd

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
df = pd.DataFrame(extracted_data)
df

,Country name,Independence,United Nation members,startOfWeek,Official country name,Common native name,Currency code,Currency name,Currency symbol,Capital,Region,Sub region,Languages,Area,Population,Continent
0,South Georgia,False,False,monday,South Georgia and the South Sandwich Islands,None,SHP,Saint Helena pound,£,King Edward Point,Antarctic,None,English,3903.00,30,Antarctica
1,Grenada,True,True,monday,Grenada,None,XCD,Eastern Caribbean dollar,$,St. George's,Americas,Caribbean,English,344.00,112519,North America
2,Switzerland,True,True,monday,Swiss Confederation,None,CHF,Swiss franc,Fr.,Bern,Europe,Western Europe,"French, Swiss German, Italian, Romansh",41284.00,8654622,Europe
3,Sierra Leone,True,True,monday,Republic of Sierra Leone,None,SLL,Sierra Leonean leone,Le,Freetown,Africa,Western Africa,English,71740.00,7976985,Africa
4,Hungary,True,True,monday,Hungary,None,HUF,Hungarian forint,Ft,Budapest,Europe,Central Europe,Hungarian,93028.00,9749763,Europe
5,Taiwan,False,False,monday,Republic of China (Taiwan),None,TWD,New Taiwan dollar,$,Taipei,Asia,Eastern Asia,Chinese,36193.00,23503349,Asia
6,Wallis and Futuna,False,False,monday,Territory of the Wallis and Futuna Islands,None,XPF,CFP franc,₣,Mata-Utu,Oceania,Polynesia,French,142.00,11750,Oceania
7,Barbados,True,True,monday,Barbados,None,BBD,Barbadian dollar,$,Bridgetown,Americas,Caribbean,English,430.00,287371,North America
8,Pitcairn Islands,False,False,monday,Pitcairn Group of Islands,None,NZD,New Zealand dollar,$,Adamstown,Oceania,Polynesia,English,47.00,56,Oceania
9,Ivory Coast,True,True,monday,Republic of Côte d'Ivoire,None,XOF,West African CFA franc,Fr,Yamoussoukro,Africa,Western Africa,French,322463.00,26378275,Africa
10,Tunisia,True,True,monday,Tunisian Republic,None,TND,Tunisian dinar,د.ت,Tunis,Africa,Northern Africa,Arabic,163610.00,11818618,Africa
11,Italy,True,True,monday,Italian Republic,None,EUR,Euro,€,Rome,Europe,Southern Europe,Italian,301336.00,59554023,Europe
12,Benin,True,True,monday,Republic of Benin,None,XOF,West African CFA franc,Fr,Porto-Novo,Africa,Western Africa,French,112622.00,12123198,Africa
13,Indonesia,True,True,monday,Republic of Indonesia,None,IDR,Indonesian rupiah,Rp,Jakarta,Asia,South-Eastern Asia,Indonesian,1904569.00,273523621,Asia
14,Cape Verde,True,True,monday,Republic of Cabo Verde,None,CVE,Cape Verdean escudo,Esc,Praia,Africa,Western Africa,Portuguese,4033.00,555988,Africa
15,Saint Kitts and Nevis,True,True,monday,Federation of Saint Christopher and Nevis,None,XCD,Eastern Caribbean dollar,$,Basseterre,Americas,Caribbean,English,261.00,53192,North America
16,Laos,True,True,monday,Lao People's Democratic Republic,None,LAK,Lao kip,₭,Vientiane,Asia,South-Eastern Asia,Lao,236800.00,7275556,Asia
17,Caribbean Netherlands,False,False,monday,"Bonaire, Sint Eustatius and Saba",None,USD,United States dollar,$,Kralendijk,Americas,Caribbean,"English, Dutch, Papiamento",328.00,25987,North America
18,Uganda,True,True,monday,Republic of Uganda,None,UGX,Ugandan shilling,Sh,Kampala,Africa,Eastern Africa,"English, Swahili",241550.00,45741000,Africa
19,Andorra,True,True,monday,Principality of Andorra,None,EUR,Euro,€,Andorra la Vella,Europe,Southern Europe,Catalan,468.00,77265,Europe
20,Burundi,True,True,monday,Republic of Burundi,None,BIF,Burundian franc,Fr,Gitega,Africa,Eastern Africa,"French, Kirundi",27834.00,11890781,Africa
21,South Africa,True,True,monday,Republic of South Africa,None,ZAR,South African rand,R,Pretoria,Africa,Southern Africa,"Afrikaans, English, Southern Ndebele, Northern...",1221037.00,59308690,Africa
22,France,True,True,monday,French Republic,None,EUR,Euro,€,Paris,Europe,Western Europe,French,551695.00,67391582,Europe
23,Libya,True,True,sunday,State of Libya,None,LYD,Libyan dinar,ل.د,Tripoli,Africa,Northern Africa,Arabic,1759540.00,6871287,Africa
24,Mexico,True,True,monday,United Mexican States,None,MXN,Mexican peso,$,Mexico City,Americas,North America,Spanish,1964375.00,128932753,North America
25,Gabon,True,True,monday,Gabonese Republic,None,XAF,Central African CFA franc,Fr,Libreville,Africa,Middle Africa,French,267668.00,2225728,Africa
26,Northern Mariana Islands,False,False,monday,Commonwealth of the Northern Mariana Islands,None,USD,United States dollar,$,Saipan,Oceania,Micronesia,"Carolinian, Chamorro, English",464.00,57557,Oceania
27,North Macedonia,True,True,monday,Republic of North Macedonia,None,MKD,denar,den,Skopje,Europe,Southeast Europe,Macedonian,25713.00,2077132,Europe
28,China,True,True,monday,People's Republic of China,None,CNY,Chinese yuan,¥,Beijing,Asia,Eastern Asia,Chinese,9706961.00,1402112000,Asia
29,Yemen,True,True,sunday,Republic of Yemen,None,YER,Yemeni rial,﷼,Sana'a,Asia,Western Asia,Arabic,527968.00,29825968,Asia
30,Saint Barthélemy,False,False,monday,Collectivity of Saint Barthélemy,None,EUR,Euro,€,Gustavia,Americas,Caribbean,French,21.00,4255,North America
31,Guernsey,False,False,monday,Bailiwick of Guernsey,None,GBP,British pound,£,St. Peter Port,Europe,Northern Europe,"English, French, Guernésiais",78.00,62999,Europe
32,Solomon Islands,True,True,monday,Solomon Islands,None,SBD,Solomon Islands dollar,$,Honiara,Oceania,Melanesia,English,28896.00,686878,Oceania
33,Svalbard and Jan Mayen,False,False,monday,Svalbard og Jan Mayen,None,NOK,krone,kr,Longyearbyen,Europe,Northern Europe,Norwegian,61399.00,2562,Europe
34,Faroe Islands,False,False,monday,Faroe Islands,None,DKK,Danish krone,kr,Tórshavn,Europe,Northern Europe,"Danish, Faroese",1393.00,48865,Europe
35,Uzbekistan,True,True,monday,Republic of Uzbekistan,None,UZS,Uzbekistani soʻm,so'm,Tashkent,Asia,Central Asia,"Russian, Uzbek",447400.00,34232050,Asia
36,Egypt,True,True,sunday,Arab Republic of Egypt,None,EGP,Egyptian pound,£,Cairo,Africa,Northern Africa,Arabic,1002450.00,102334403,Africa
37,Senegal,True,True,monday,Republic of Senegal,None,XOF,West African CFA franc,Fr,Dakar,Africa,Western Africa,French,196722.00,16743930,Africa
38,Sri Lanka,True,True,monday,Democratic Socialist Republic of Sri Lanka,None,LKR,Sri Lankan rupee,Rs රු,Sri Jayawardenepura Kotte,Asia,Southern Asia,"Sinhala, Tamil",65610.00,21919000,Asia
39,Palestine,False,False,sunday,State of Palestine,None,EGP,Egyptian pound,E£,Ramallah,Asia,Western Asia,Arabic,6220.00,4803269,Asia
40,Bangladesh,True,True,sunday,People's Republic of Bangladesh,None,BDT,Bangladeshi taka,৳,Dhaka,Asia,Southern Asia,Bengali,147570.00,164689383,Asia
41,Peru,True,True,monday,Republic of Peru,None,PEN,Peruvian sol,S/,Lima,Americas,South America,"Aymara, Quechua, Spanish",1285216.00,32971846,South America
42,Singapore,True,True,monday,Republic of Singapore,None,SGD,Singapore dollar,$,Singapore,Asia,South-Eastern Asia,"English, Chinese, Malay, Tamil",710.00,5685807,Asia
43,Turkey,True,True,monday,Republic of Turkey,None,TRY,Turkish lira,₺,Ankara,Asia,Western Asia,Turkish,783562.00,84339067,Europe
44,Afghanistan,True,True,monday,Islamic Republic of Afghanistan,None,AFN,Afghan afghani,؋,Kabul,Asia,Southern Asia,"Dari, Pashto, Turkmen",652230.00,40218234,Asia
45,Aruba,False,False,monday,Aruba,None,AWG,Aruban florin,ƒ,Oranjestad,Americas,Caribbean,"Dutch, Papiamento",180.00,106766,North America
46,Cook Islands,False,False,monday,Cook Islands,None,CKD,Cook Islands dollar,$,Avarua,Oceania,Polynesia,"English, Cook Islands Māori",236.00,18100,Oceania
47,United Kingdom,True,True,monday,United Kingdom of Great Britain and Northern I...,None,GBP,British pound,£,London,Europe,Northern Europe,English,242900.00,67215293,Europe
48,Zambia,True,True,monday,Republic of Zambia,None,ZMW,Zambian kwacha,ZK,Lusaka,Africa,Eastern Africa,English,752612.00,18383956,Africa
49,Finland,True,True,monday,Republic of Finland,None,EUR,Euro,€,Helsinki,Europe,Northern Europe,"Finnish, Swedish",338424.00,5530719,Europe
50,Niger,True,True,monday,Republic of Niger,None,XOF,West African CFA franc,Fr,Niamey,Africa,Western Africa,French,1267000.00,24206636,Africa
51,Christmas Island,False,False,monday,Territory of Christmas Island,None,AUD,Australian dollar,$,Flying Fish Cove,Oceania,Australia and New Zealand,English,135.00,2072,Asia
52,Tokelau,False,False,monday,Tokelau,None,NZD,New Zealand dollar,$,Fakaofo,Oceania,Polynesia,"English, Samoan, Tokelauan",12.00,1411,Oceania
53,Guinea-Bissau,True,False,monday,Republic of Guinea-Bissau,None,XOF,West African CFA franc,Fr,Bissau,Africa,Western Africa,"Portuguese, Upper Guinea Creole",36125.00,1967998,Africa
54,Azerbaijan,True,True,monday,Republic of Azerbaijan,None,AZN,Azerbaijani manat,₼,Baku,Asia,Western Asia,Azerbaijani,86600.00,10110116,Europe
55,Réunion,False,False,monday,Réunion Island,None,EUR,Euro,€,Saint-Denis,Africa,Eastern Africa,French,2511.00,840974,Africa
56,Djibouti,True,True,monday,Republic of Djibouti,None,DJF,Djiboutian franc,Fr,Djibouti,Africa,Eastern Africa,"Arabic, French",23200.00,988002,Africa
57,North Korea,True,True,monday,Democratic People's Republic of Korea,None,KPW,North Korean won,₩,Pyongyang,Asia,Eastern Asia,Korean,120538.00,25778815,Asia
58,Mauritius,True,True,monday,Republic of Mauritius,None,MUR,Mauritian rupee,₨,Port Louis,Africa,Eastern Africa,"English, French, Mauritian Creole",2040.00,1265740,Africa
59,Montserrat,False,False,monday,Montserrat,None,XCD,Eastern Caribbean dollar,$,Plymouth,Americas,Caribbean,English,102.00,4922,North America
60,United States Virgin Islands,False,False,monday,Virgin Islands of the United States,None,USD,United States dollar,$,Charlotte Amalie,Americas,Caribbean,English,347.00,106290,North America
61,Colombia,True,True,monday,Republic of Colombia,None,COP,Colombian peso,$,Bogotá,Americas,South America,Spanish,1141748.00,50882884,South America
62,Greece,True,True,monday,Hellenic Republic,None,EUR,Euro,€,Athens,Europe,Southern Europe,Greek,131990.00,10715549,Europe
63,Croatia,True,True,monday,Republic of Croatia,None,EUR,Euro,€,Zagreb,Europe,Southeast Europe,Croatian,56594.00,4047200,Europe
64,Morocco,True,True,monday,Kingdom of Morocco,None,MAD,Moroccan dirham,د.م.,Rabat,Africa,Northern Africa,"Arabic, Berber",446550.00,36910558,Africa
65,Algeria,True,True,sunday,People's Democratic Republic of Algeria,None,DZD,Algerian dinar,د.ج,Algiers,Africa,Northern Africa,Arabic,2381741.00,44700000,Africa
66,Antarctica,False,False,monday,Antarctica,None,None,None,None,None,Antarctic,None,None,14000000.00,1000,Antarctica
67,Netherlands,True,True,monday,Kingdom of the Netherlands,None,EUR,Euro,€,Amsterdam,Europe,Western Europe,Dutch,41850.00,16655799,Europe
68,Sudan,True,True,monday,Republic of the Sudan,None,SDG,Sudanese pound,ج.س,Khartoum,Africa,Northern Africa,"Arabic, English",1886068.00,43849269,Africa
69,Fiji,True,True,monday,Republic of Fiji,None,FJD,Fijian dollar,$,Suva,Oceania,Melanesia,"English, Fijian, Fiji Hindi",18272.00,896444,Oceania
70,Liechtenstein,True,True,monday,Principality of Liechtenstein,None,CHF,Swiss franc,Fr,Vaduz,Europe,Western Europe,German,160.00,38137,Europe
71,Nepal,True,True,sunday,Federal Democratic Republic of Nepal,None,NPR,Nepalese rupee,₨,Kathmandu,Asia,Southern Asia,Nepali,147181.00,29136808,Asia
72,Puerto Rico,False,False,monday,Commonwealth of Puerto Rico,None,USD,United States dollar,$,San Juan,Americas,Caribbean,"English, Spanish",8870.00,3194034,North America
73,Georgia,True,True,monday,Georgia,None,GEL,lari,₾,Tbilisi,Asia,Western Asia,Georgian,69700.00,3714000,Asia
74,Pakistan,True,True,monday,Islamic Republic of Pakistan,None,PKR,Pakistani rupee,₨,Islamabad,Asia,Southern Asia,"English, Urdu",881912.00,220892331,Asia
75,Monaco,True,True,monday,Principality of Monaco,None,EUR,Euro,€,Monaco,Europe,Western Europe,French,2.02,39244,Europe
76,Botswana,True,True,monday,Republic of Botswana,None,BWP,Botswana pula,P,Gaborone,Africa,Southern Africa,"English, Tswana",582000.00,2351625,Africa
77,Lebanon,True,True,monday,Lebanese Republic,None,LBP,Lebanese pound,ل.ل,Beirut,Asia,Western Asia,"Arabic, French",10452.00,6825442,Asia
78,Papua New Guinea,True,True,monday,Independent State of Papua New Guinea,None,PGK,Papua New Guinean kina,K,Port Moresby,Oceania,Melanesia,"English, Hiri Motu, Tok Pisin",462840.00,8947027,Oceania
79,Mayotte,False,False,monday,Department of Mayotte,None,EUR,Euro,€,Mamoudzou,Africa,Eastern Africa,French,374.00,226915,Africa
80,Dominican Republic,True,True,monday,Dominican Republic,None,DOP,Dominican peso,$,Santo Domingo,Americas,Caribbean,Spanish,48671.00,10847904,North America
81,Norfolk Island,False,False,monday,Territory of Norfolk Island,None,AUD,Australian dollar,$,Kingston,Oceania,Australia and New Zealand,"English, Norfuk",36.00,2302,Oceania
82,Bouvet Island,False,False,monday,Bouvet Island,None,None,None,None,None,Antarctic,None,Norwegian,49.00,0,Antarctica
83,Qatar,True,True,sunday,State of Qatar,None,QAR,Qatari riyal,ر.ق,Doha,Asia,Western Asia,Arabic,11586.00,2881060,Asia
84,Madagascar,True,True,monday,Republic of Madagascar,None,MGA,Malagasy ariary,Ar,Antananarivo,Africa,Eastern Africa,"French, Malagasy",587041.00,27691019,Africa
85,India,True,True,monday,Republic of India,None,INR,Indian rupee,₹,New Delhi,Asia,Southern Asia,"English, Hindi, Tamil",3287590.00,1380004385,Asia
86,Syria,True,True,monday,Syrian Arab Republic,None,SYP,Syrian pound,£,Damascus,Asia,Western Asia,Arabic,185180.00,17500657,Asia
87,Montenegro,True,True,monday,Montenegro,None,EUR,Euro,€,Podgorica,Europe,Southeast Europe,Montenegrin,13812.00,621718,Europe
88,Eswatini,True,True,monday,Kingdom of Eswatini,None,SZL,Swazi lilangeni,L,Mbabane,Africa,Southern Africa,"English, Swazi",17364.00,1160164,Africa
89,Paraguay,True,True,monday,Republic of Paraguay,None,PYG,Paraguayan guaraní,₲,Asunción,Americas,South America,"Guaraní, Spanish",406752.00,7132530,South America
90,El Salvador,True,True,monday,Republic of El Salvador,None,USD,United States dollar,$,San Salvador,Americas,Central America,Spanish,21041.00,6486201,North America
91,Ukraine,True,True,monday,Ukraine,None,UAH,Ukrainian hryvnia,₴,Kyiv,Europe,Eastern Europe,Ukrainian,603500.00,44134693,Europe
92,Isle of Man,False,False,monday,Isle of Man,None,GBP,British pound,£,Douglas,Europe,Northern Europe,"English, Manx",572.00,85032,Europe
93,Namibia,True,True,monday,Republic of Namibia,None,NAD,Namibian dollar,$,Windhoek,Africa,Southern Africa,"Afrikaans, German, English, Herero, Khoekhoe, ...",825615.00,2540916,Africa
94,United Arab Emirates,True,True,sunday,United Arab Emirates,None,AED,United Arab Emirates dirham,د.إ,Abu Dhabi,Asia,Western Asia,Arabic,83600.00,9890400,Asia
95,Bulgaria,True,True,monday,Republic of Bulgaria,None,BGN,Bulgarian lev,лв,Sofia,Europe,Southeast Europe,Bulgarian,110879.00,6927288,Europe
96,Greenland,False,False,monday,Greenland,None,DKK,krone,kr.,Nuuk,Americas,North America,Greenlandic,2166086.00,56367,North America
97,Germany,True,True,monday,Federal Republic of Germany,None,EUR,Euro,€,Berlin,Europe,Western Europe,German,357114.00,83240525,Europe
98,Cambodia,True,True,monday,Kingdom of Cambodia,None,KHR,Cambodian riel,៛,Phnom Penh,Asia,South-Eastern Asia,Khmer,181035.00,16718971,Asia
99,Iraq,True,True,sunday,Republic of Iraq,None,IQD,Iraqi dinar,ع.د,Baghdad,Asia,Western Asia,"Arabic, Aramaic, Sorani",438317.00,40222503,Asia
100,French Southern and Antarctic Lands,False,False,monday,Territory of the French Southern and Antarctic...,None,EUR,Euro,€,Port-aux-Français,Antarctic,None,French,7747.00,400,Antarctica
101,Sweden,True,True,monday,Kingdom of Sweden,None,SEK,Swedish krona,kr,Stockholm,Europe,Northern Europe,Swedish,450295.00,10353442,Europe
102,Cuba,True,True,monday,Republic of Cuba,None,CUC,Cuban convertible peso,$,Havana,Americas,Caribbean,Spanish,109884.00,11326616,North America
103,Kyrgyzstan,True,True,monday,Kyrgyz Republic,None,KGS,Kyrgyzstani som,с,Bishkek,Asia,Central Asia,"Kyrgyz, Russian",199951.00,6591600,Asia
104,Russia,True,True,monday,Russian Federation,None,RUB,Russian ruble,₽,Moscow,Europe,Eastern Europe,Russian,17098242.00,144104080,Europe
105,Malaysia,True,True,sunday,Malaysia,None,MYR,Malaysian ringgit,RM,Kuala Lumpur,Asia,South-Eastern Asia,"English, Malay",330803.00,32365998,Asia
106,São Tomé and Príncipe,True,True,monday,Democratic Republic of São Tomé and Príncipe,None,STN,São Tomé and Príncipe dobra,Db,São Tomé,Africa,Middle Africa,Portuguese,964.00,219161,Africa
107,Cyprus,True,True,monday,Republic of Cyprus,None,EUR,Euro,€,Nicosia,Europe,Southern Europe,"Greek, Turkish",9251.00,1207361,Europe
108,Canada,True,True,sunday,Canada,None,CAD,Canadian dollar,$,Ottawa,Americas,North America,"English, French",9984670.00,38005238,North America
109,Malawi,True,True,monday,Republic of Malawi,None,MWK,Malawian kwacha,MK,Lilongwe,Africa,Eastern Africa,"English, Chewa",118484.00,19129955,Africa
110,Saudi Arabia,True,True,sunday,Kingdom of Saudi Arabia,None,SAR,Saudi riyal,ر.س,Riyadh,Asia,Western Asia,Arabic,2149690.00,34813867,Asia
111,Bosnia and Herzegovina,True,True,monday,Bosnia and Herzegovina,None,BAM,Bosnia and Herzegovina convertible mark,KM,Sarajevo,Europe,Southeast Europe,"Bosnian, Croatian, Serbian",51209.00,3280815,Europe
112,Ethiopia,True,True,monday,Federal Democratic Republic of Ethiopia,None,ETB,Ethiopian birr,Br,Addis Ababa,Africa,Eastern Africa,Amharic,1104300.00,114963583,Africa
113,Spain,True,True,monday,Kingdom of Spain,None,EUR,Euro,€,Madrid,Europe,Southern Europe,"Spanish, Catalan, Basque, Galician",505992.00,47351567,Europe
114,Slovenia,True,True,monday,Republic of Slovenia,None,EUR,Euro,€,Ljubljana,Europe,Central Europe,Slovene,20273.00,2100126,Europe
115,Oman,True,True,sunday,Sultanate of Oman,None,OMR,Omani rial,ر.ع.,Muscat,Asia,Western Asia,Arabic,309500.00,5106622,Asia
116,Saint Pierre and Miquelon,False,False,monday,Saint Pierre and Miquelon,None,EUR,Euro,€,Saint-Pierre,Americas,North America,French,242.00,6069,North America
117,Macau,False,False,monday,Macao Special Administrative Region of the Peo...,None,MOP,Macanese pataca,P,None,Asia,Eastern Asia,"Portuguese, Chinese",30.00,649342,Asia
118,San Marino,True,True,monday,Republic of San Marino,None,EUR,Euro,€,City of San Marino,Europe,Southern Europe,Italian,61.00,33938,Europe
119,Lesotho,True,True,monday,Kingdom of Lesotho,None,LSL,Lesotho loti,L,Maseru,Africa,Southern Africa,"English, Sotho",30355.00,2142252,Africa
120,Marshall Islands,True,True,monday,Republic of the Marshall Islands,None,USD,United States dollar,$,Majuro,Oceania,Micronesia,"English, Marshallese",181.00,59194,Oceania
121,Sint Maarten,False,False,monday,Sint Maarten,None,ANG,Netherlands Antillean guilder,ƒ,Philipsburg,Americas,Caribbean,"English, French, Dutch",34.00,40812,North America
122,Iceland,True,True,monday,Iceland,None,ISK,Icelandic króna,kr,Reykjavik,Europe,Northern Europe,Icelandic,103000.00,366425,Europe
123,Luxembourg,True,True,monday,Grand Duchy of Luxembourg,None,EUR,Euro,€,Luxembourg,Europe,Western Europe,"German, French, Luxembourgish",2586.00,632275,Europe
124,Argentina,True,True,monday,Argentine Republic,None,ARS,Argentine peso,$,Buenos Aires,Americas,South America,"Guaraní, Spanish",2780400.00,45376763,South America
125,Turks and Caicos Islands,False,False,monday,Turks and Caicos Islands,None,USD,United States dollar,$,Cockburn Town,Americas,Caribbean,English,948.00,38718,North America
126,Nauru,True,True,monday,Republic of Nauru,None,AUD,Australian dollar,$,Yaren,Oceania,Micronesia,"English, Nauru",21.00,10834,Oceania
127,Cocos (Keeling) Islands,False,False,monday,Territory of the Cocos (Keeling) Islands,None,AUD,Australian dollar,$,West Island,Oceania,Australia and New Zealand,English,14.00,544,Asia
128,Western Sahara,False,False,monday,Sahrawi Arab Democratic Republic,None,DZD,Algerian dinar,دج,El Aaiún,Africa,Northern Africa,"Berber, Hassaniya, Spanish",266000.00,510713,Africa
129,Dominica,True,True,monday,Commonwealth of Dominica,None,XCD,Eastern Caribbean dollar,$,Roseau,Americas,Caribbean,English,751.00,71991,North America
130,Costa Rica,True,True,monday,Republic of Costa Rica,None,CRC,Costa Rican colón,₡,San José,Americas,Central America,Spanish,51100.00,5094114,North America

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country name           250 non-null    object
 1   Independence           249 non-null    object
 2   United Nation members  250 non-null    bool
 3   startOfWeek            250 non-null    object
 4   Official country name  250 non-null    object
 5   Common native name     0 non-null      object
 6   Currency code          247 non-null    object
 7   Currency name          247 non-null    object
 8   Currency symbol        247 non-null    object
 9   Capital                246 non-null    object
 10  Region                 250 non-null    object
 11  Sub region             245 non-null    object
 12  Languages              249 non-null    object
 13  Area                   250 non-null    float64
 14  Population             250 non-null    int64
 15  Continent              250 non-null    object
dtypes: bool(1), float64(1), int64(1), object(13)
memory usage: 29.7+ KB

### 1. How many countries speak french

In [ ]:
# Filter for countries where 'Languages' column contains 'French'

french_speaking_countries = df[df['Languages'].fillna('').str.contains('French')]

# Display the results
print("Number of countries that speak French:", len(french_speaking_countries))
print("List of French-speaking countries:")
print(french_speaking_countries['Country name'].tolist())

Number of countries that speak French: 46
List of French-speaking countries:
['Switzerland', 'Wallis and Futuna', 'Ivory Coast', 'Benin', 'Burundi', 'France', 'Gabon', 'Saint Barthélemy', 'Guernsey', 'Senegal', 'Niger', 'Réunion', 'Djibouti', 'Mauritius', 'Monaco', 'Lebanon', 'Mayotte', 'Madagascar', 'French Southern and Antarctic Lands', 'Canada', 'Saint Pierre and Miquelon', 'Sint Maarten', 'Luxembourg', 'Haiti', 'Equatorial Guinea', 'French Polynesia', 'Guadeloupe', 'Cameroon', 'Guinea', 'DR Congo', 'New Caledonia', 'Vanuatu', 'Togo', 'Rwanda', 'French Guiana', 'Central African Republic', 'Burkina Faso', 'Mali', 'Jersey', 'Seychelles', 'Martinique', 'Comoros', 'Chad', 'Saint Martin', 'Republic of the Congo', 'Belgium']

### 2. How many countries speak English?

In [ ]:
# Filter for countries where 'Languages' column contains 'English'

french_speaking_countries = df[df['Languages'].fillna('').str.contains('English')]

# Display the results
print("Number of countries that speak French:", len(french_speaking_countries))
print("List of French-speaking countries:")
print(french_speaking_countries['Country name'].tolist())

Number of countries that speak French: 91
List of French-speaking countries:
['South Georgia', 'Grenada', 'Sierra Leone', 'Barbados', 'Pitcairn Islands', 'Saint Kitts and Nevis', 'Caribbean Netherlands', 'Uganda', 'South Africa', 'Northern Mariana Islands', 'Guernsey', 'Solomon Islands', 'Singapore', 'Cook Islands', 'United Kingdom', 'Zambia', 'Christmas Island', 'Tokelau', 'Mauritius', 'Montserrat', 'United States Virgin Islands', 'Sudan', 'Fiji', 'Puerto Rico', 'Pakistan', 'Botswana', 'Papua New Guinea', 'Norfolk Island', 'India', 'Eswatini', 'Isle of Man', 'Namibia', 'Malaysia', 'Canada', 'Malawi', 'Lesotho', 'Marshall Islands', 'Sint Maarten', 'Turks and Caicos Islands', 'Nauru', 'Cocos (Keeling) Islands', 'Dominica', 'Australia', 'Tuvalu', 'Saint Lucia', 'Palau', 'Philippines', 'Gibraltar', 'Cameroon', 'Vanuatu', 'Saint Helena, Ascension and Tristan da Cunha', 'British Virgin Islands', 'Kenya', 'Niue', 'Heard Island and McDonald Islands', 'Rwanda', 'Trinidad and Tobago', 'Guyana', 'Hong Kong', 'Antigua and Barbuda', 'Micronesia', 'Ireland', 'Curaçao', 'Eritrea', 'Tanzania', 'United States Minor Outlying Islands', 'Falkland Islands', 'Samoa', 'Jersey', 'United States', 'Saint Vincent and the Grenadines', 'Bermuda', 'Seychelles', 'British Indian Ocean Territory', 'Malta', 'Gambia', 'Nigeria', 'Bahamas', 'South Sudan', 'Belize', 'Liberia', 'Jamaica', 'Cayman Islands', 'Guam', 'Tonga', 'Kiribati', 'Ghana', 'Zimbabwe', 'American Samoa', 'New Zealand', 'Anguilla']

### 3. How many countries have more than one official language?

In [ ]:
# Count countries with more than one official language
more_than_one_offLan = df[df['Languages'].fillna('').str.contains(',')]

print("Number of countries with more that one official language:", len(more_than_one_offLan))
print("List of countries with more than one official language:")
print(more_than_one_offLan['Country name'].tolist())

Number of countries with more that one official language: 96
List of countries with more than one official language:
['Switzerland', 'Caribbean Netherlands', 'Uganda', 'Burundi', 'South Africa', 'Northern Mariana Islands', 'Guernsey', 'Faroe Islands', 'Uzbekistan', 'Sri Lanka', 'Peru', 'Singapore', 'Afghanistan', 'Aruba', 'Cook Islands', 'Finland', 'Tokelau', 'Guinea-Bissau', 'Djibouti', 'Mauritius', 'Morocco', 'Sudan', 'Fiji', 'Puerto Rico', 'Pakistan', 'Botswana', 'Lebanon', 'Papua New Guinea', 'Norfolk Island', 'Madagascar', 'India', 'Eswatini', 'Paraguay', 'Isle of Man', 'Namibia', 'Iraq', 'Kyrgyzstan', 'Malaysia', 'Cyprus', 'Canada', 'Malawi', 'Bosnia and Herzegovina', 'Spain', 'Macau', 'Lesotho', 'Marshall Islands', 'Sint Maarten', 'Luxembourg', 'Argentina', 'Nauru', 'Western Sahara', 'Haiti', 'Tuvalu', 'Equatorial Guinea', 'Belarus', 'Palau', 'Philippines', 'Cameroon', 'DR Congo', 'Somalia', 'Czechia', 'Vanuatu', 'Kenya', 'Niue', 'Rwanda', 'Timor-Leste', 'Vatican City', 'Hong Kong', 'Turkmenistan', 'Ireland', 'Curaçao', 'Norway', 'Central African Republic', 'Eritrea', 'Tanzania', 'Kazakhstan', 'Samoa', 'Jersey', 'Bolivia', 'Seychelles', 'Tajikistan', 'Malta', 'Kosovo', 'Belize', 'Jamaica', 'Comoros', 'Guam', 'Tonga', 'Kiribati', 'Chad', 'Zimbabwe', 'American Samoa', 'Republic of the Congo', 'Belgium', 'Israel', 'New Zealand']

### 4. How many countrys' Official currency is Euro?

In [ ]:
# Count countries with Euro as official currency
num_countries_with_euro = df[df['Currency name'] == 'Euro'].shape[0]

# Display the results
print("Number of countries with Euro as official currency:", num_countries_with_euro)
print("List of countries with Euro as official currency:")
print(df[df['Currency name'] == 'Euro']['Country name'].tolist())

Number of countries with Euro as official currency: 36
List of countries with Euro as official currency:
['Italy', 'Andorra', 'France', 'Saint Barthélemy', 'Finland', 'Réunion', 'Greece', 'Croatia', 'Netherlands', 'Monaco', 'Mayotte', 'Montenegro', 'Germany', 'French Southern and Antarctic Lands', 'Cyprus', 'Spain', 'Slovenia', 'Saint Pierre and Miquelon', 'San Marino', 'Luxembourg', 'Latvia', 'Guadeloupe', 'Estonia', 'Vatican City', 'Austria', 'Ireland', 'French Guiana', 'Åland Islands', 'Lithuania', 'Slovakia', 'Martinique', 'Malta', 'Kosovo', 'Saint Martin', 'Portugal', 'Belgium']

### 5. How many countries are from west europe?

In [ ]:
# Count countries from west europe
Countries_west_eur = df[df['Sub region'] == 'Western Europe']

print("Number of countries from Western Europe:", len(Countries_west_eur))
print("List of countries from west europe:")
print(Countries_west_eur['Country name'].tolist())

Number of countries from Western Europe: 8
List of countries from west europe:
['Switzerland', 'France', 'Netherlands', 'Liechtenstein', 'Monaco', 'Germany', 'Luxembourg', 'Belgium']

### 6. How many countries have not gained Independence?

In [ ]:
# Filter countries that have not gained independence
Countries_no_ind = df[df['Independence'] == False]
                                                  ## we have one none row
print("Number of countries that have not gained independence:", len(Countries_no_ind))
print("List of countries that have not gained independence:")
print(Countries_no_ind['Country name'].tolist())

Number of countries that have not gained independence: 55
List of countries that have not gained independence:
['South Georgia', 'Taiwan', 'Wallis and Futuna', 'Pitcairn Islands', 'Caribbean Netherlands', 'Northern Mariana Islands', 'Saint Barthélemy', 'Guernsey', 'Svalbard and Jan Mayen', 'Faroe Islands', 'Palestine', 'Aruba', 'Cook Islands', 'Christmas Island', 'Tokelau', 'Réunion', 'Montserrat', 'United States Virgin Islands', 'Antarctica', 'Puerto Rico', 'Mayotte', 'Norfolk Island', 'Bouvet Island', 'Isle of Man', 'Greenland', 'French Southern and Antarctic Lands', 'Saint Pierre and Miquelon', 'Macau', 'Sint Maarten', 'Turks and Caicos Islands', 'Cocos (Keeling) Islands', 'Western Sahara', 'French Polynesia', 'Guadeloupe', 'Gibraltar', 'New Caledonia', 'Saint Helena, Ascension and Tristan da Cunha', 'British Virgin Islands', 'Niue', 'Heard Island and McDonald Islands', 'Hong Kong', 'Curaçao', 'French Guiana', 'Åland Islands', 'United States Minor Outlying Islands', 'Falkland Islands', 'Jersey', 'Bermuda', 'British Indian Ocean Territory', 'Martinique', 'Cayman Islands', 'Guam', 'Saint Martin', 'American Samoa', 'Anguilla']

### 7. How many distinct continent and how many countries from each?

In [ ]:
# Aggregate to find number of countries per continent
continent_counts = df.groupby('Continent')['Country name'].agg(['count']).reset_index()

continent_counts = continent_counts.rename(columns={'count': 'No of countries'})

# Count distinct continents
num_distinct_continents = len(continent_counts)

# Display results
print("Number of distinct continents:", num_distinct_continents)
print("\nCountries per continent:")
continent_counts

Number of distinct continents: 7

Countries per continent:

       Continent  No of countries
0         Africa               58
1     Antarctica                5
2           Asia               50
3         Europe               55
4  North America               41
5        Oceania               27
6  South America               14

Is Oceania a continent? to be reviewed

### 8. No. of countries where the week does not start on Monday

In [ ]:
# Filter countries with startOfWeek not monday
Country_week_start = df[df['startOfWeek'] != 'monday']

print("Number of countries where the week does not start on Monday:", len(Country_week_start))
print("List of countries where the week does not start on Monday:")
print(Country_week_start['Country name'].tolist())

Number of countries where the week does not start on Monday: 21
List of countries where the week does not start on Monday:
['Libya', 'Yemen', 'Egypt', 'Palestine', 'Bangladesh', 'Algeria', 'Nepal', 'Qatar', 'United Arab Emirates', 'Iraq', 'Malaysia', 'Canada', 'Saudi Arabia', 'Oman', 'Jordan', 'United States', 'Kuwait', 'Maldives', 'South Sudan', 'Iran', 'Israel']

### 9. How many countries are not UN members?

In [ ]:
# Filter countries not UN members
Country_notUN_members = df[df['United Nation members'] != True]

print("Number of countries that are not UN members:", len(Country_notUN_members))
print("List of countries that are not UN members:")
print(Country_notUN_members['Country name'].tolist())

Number of countries that are not UN members: 58
List of countries that are not UN members:
['South Georgia', 'Taiwan', 'Wallis and Futuna', 'Pitcairn Islands', 'Caribbean Netherlands', 'Northern Mariana Islands', 'Saint Barthélemy', 'Guernsey', 'Svalbard and Jan Mayen', 'Faroe Islands', 'Palestine', 'Aruba', 'Cook Islands', 'Christmas Island', 'Tokelau', 'Guinea-Bissau', 'Réunion', 'Montserrat', 'United States Virgin Islands', 'Antarctica', 'Puerto Rico', 'Mayotte', 'Norfolk Island', 'Bouvet Island', 'Isle of Man', 'Greenland', 'French Southern and Antarctic Lands', 'Saint Pierre and Miquelon', 'Macau', 'Sint Maarten', 'Turks and Caicos Islands', 'Cocos (Keeling) Islands', 'Western Sahara', 'French Polynesia', 'Guadeloupe', 'Gibraltar', 'New Caledonia', 'Saint Helena, Ascension and Tristan da Cunha', 'British Virgin Islands', 'Niue', 'Heard Island and McDonald Islands', 'Vatican City', 'Hong Kong', 'Curaçao', 'French Guiana', 'Åland Islands', 'United States Minor Outlying Islands', 'Falkland Islands', 'Jersey', 'Bermuda', 'British Indian Ocean Territory', 'Martinique', 'Kosovo', 'Cayman Islands', 'Guam', 'Saint Martin', 'American Samoa', 'Anguilla']

### 10. How many countries are UN members?

In [ ]:
# Filter countries that are UN members
Country_UN_members = df[df['United Nation members'] == True]

print("Number of countries that are UN members:", len(Country_UN_members))
print("List of countries that are UN members:")
print(Country_notUN_members['Country name'].tolist())

Number of countries that are UN members: 192
List of countries that are UN members:
['South Georgia', 'Taiwan', 'Wallis and Futuna', 'Pitcairn Islands', 'Caribbean Netherlands', 'Northern Mariana Islands', 'Saint Barthélemy', 'Guernsey', 'Svalbard and Jan Mayen', 'Faroe Islands', 'Palestine', 'Aruba', 'Cook Islands', 'Christmas Island', 'Tokelau', 'Guinea-Bissau', 'Réunion', 'Montserrat', 'United States Virgin Islands', 'Antarctica', 'Puerto Rico', 'Mayotte', 'Norfolk Island', 'Bouvet Island', 'Isle of Man', 'Greenland', 'French Southern and Antarctic Lands', 'Saint Pierre and Miquelon', 'Macau', 'Sint Maarten', 'Turks and Caicos Islands', 'Cocos (Keeling) Islands', 'Western Sahara', 'French Polynesia', 'Guadeloupe', 'Gibraltar', 'New Caledonia', 'Saint Helena, Ascension and Tristan da Cunha', 'British Virgin Islands', 'Niue', 'Heard Island and McDonald Islands', 'Vatican City', 'Hong Kong', 'Curaçao', 'French Guiana', 'Åland Islands', 'United States Minor Outlying Islands', 'Falkland Islands', 'Jersey', 'Bermuda', 'British Indian Ocean Territory', 'Martinique', 'Kosovo', 'Cayman Islands', 'Guam', 'Saint Martin', 'American Samoa', 'Anguilla']

### 11. List 2 countries with the lowest population for each continent

In [ ]:
# Sort DataFrame by population within each continent
df_sorted = df.sort_values(by=['Continent', 'Population'])

# Group by continent and select top 2 countries with lowest population
top_countries_per_continent = df_sorted.groupby('Continent').head(2)

# Display the results
print("Two countries with lowest population for each continent:")
top_countries_per_continent[['Continent', 'Country name', 'Population']]

Two countries with lowest population for each continent:

         Continent                                  Country name  Population
155         Africa  Saint Helena, Ascension and Tristan da Cunha       53192
206         Africa                                    Seychelles       98462
82      Antarctica                                 Bouvet Island           0
160     Antarctica             Heard Island and McDonald Islands           0
127           Asia                       Cocos (Keeling) Islands         544
51            Asia                              Christmas Island        2072
169         Europe                                  Vatican City         451
33          Europe                        Svalbard and Jan Mayen        2562
30   North America                              Saint Barthélemy        4255
59   North America                                    Montserrat        4922
8          Oceania                              Pitcairn Islands          56
190        Oceania          United States Minor Outlying Islands         300
196  South America                              Falkland Islands        2563
179  South America                                 French Guiana      254541

### 12. List 2 countries with the largest Area for each Continent

In [ ]:
# Sort DataFrame by population within each continent
df_sorted = df.sort_values(by=['Continent', 'Area'], ascending= [True, False])

# Group by continent and select 2 countries with lowest population
countries_per_continent = df_sorted.groupby('Continent').head(2)

# Display the results
print("Two countries with lowest population for each continent:")
countries_per_continent[['Continent', 'Country name', 'Area']]

Two countries with lowest population for each continent:

         Continent                         Country name        Area
65          Africa                              Algeria   2381741.0
150         Africa                             DR Congo   2344858.0
66      Antarctica                           Antarctica  14000000.0
100     Antarctica  French Southern and Antarctic Lands      7747.0
28            Asia                                China   9706961.0
85            Asia                                India   3287590.0
104         Europe                               Russia  17098242.0
43          Europe                               Turkey    783562.0
108  North America                               Canada   9984670.0
203  North America                        United States   9372610.0
131        Oceania                            Australia   7692024.0
78         Oceania                     Papua New Guinea    462840.0
222  South America                               Brazil   8515767.0
124  South America                            Argentina   2780400.0

### 13. Top 5 countries with the Largest Area

In [ ]:
# Sort the DataFrame by 'Area' column in descending order and select top 5
top_5_countries = df.nlargest(5, 'Area')

# Result
top_5_countries[['Country name', 'Area']]

      Country name        Area
104         Russia  17098242.0
66      Antarctica  14000000.0
108         Canada   9984670.0
28           China   9706961.0
203  United States   9372610.0

### 14. Top 5 countries with the lowest Area

In [ ]:
# Sort the DataFrame by 'Area' column in ascending order and select bottom 5
bottom_5_countries = df.nsmallest(5, 'Area')

bottom_5_countries[['Country name', 'Area']]

                Country name   Area
169             Vatican City   0.44
75                    Monaco   2.02
144                Gibraltar   6.00
52                   Tokelau  12.00
127  Cocos (Keeling) Islands  14.00